<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/library">Library</a></li>
      <li><a href="/book">Books</a></li>
      <li><a href="/staff">Staffs</a></li>
    </ul>
  </div>
</nav>