<html lang="en">
<head>
  <% include ../partials/head.ejs %>
</head>
<body>

<!---  This is actually needed as a partial folder file to inject the header file     -->
<% include ../partials/header.ejs %>
  
<div class="container">
<div class ="well">
	<h1> The search item cannot be found </h1>
</div>
  
</div>

</body>
</html>